* {
  background-image: url("https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074076.jpg?w=2000");
  font-family: Arial;
}

body {
  background-size: cover;
}

.login {
  width: 25%;
  height: 42%;
  padding: 20px;
  color: #111;
  margin-top: 15%;
  margin-left: 20%;
  position: absolute;
}
h1 {
  font-size: 40px;
  text-align: center;
}
p {
  font-size: 20px;
  margin: 10px, 0;
  padding: 10px;
}
input {
  margin: 10px, 0;
  padding: 10px;
}
button {
  margin-top: 8px;
  padding: 5px;
}
